<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">{{server.containerName}}</div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                <dt>Status</dt>
                <dd><span class="label" ng-class="getLabelClassForStatus(server.containerStatus)">{{server.containerStatus}}</span>
                </dd>

                <dt ng-if="server.containerStatus == 'RUNNING'">Started At</dt>
                <dt ng-if="server.containerStatus == 'EXITED'">Stopped Since</dt>
                <dd ng-if="server.containerStatus == 'RUNNING' || server.containerStatus == 'EXITED'">{{server.lastStatusChange | amCalendar}}</dd>

                <dt>Server Address</dt>
                <dd>{{renderServerAddress(server)}}</dd>

                <dt>Data Attachment</dt>
                <dd>{{server.hostDataMount}}</dd>

                <dt>Requested Version</dt>
                <dd>{{server.requestedVersion}}</dd>

                <dt>Type</dt>
                <dd>{{server.type}}</dd>

                <dt>Ops</dt>
                <dd>
                    <ul class="list-inline">
                        <li ng-repeat="op in server.originalOps">{{op}}</li>
                    </ul>
                </dd>

            </dl>

        </div>
    </div>

</div>
