<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create a Minecraft Server</h4>
</div>
<div class="modal-body">
    <div class="alerts">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <form ng-submit="goCreateServer()" name="createServer" class="form-horizontal" show-validation>

        <div class="form-group">
            <label for="inputHost" class="col-sm-3 control-label">Docker Host</label>
            <div class="col-sm-9">
                <select class="form-control" id="inputHost" required
                        ng-model="spec.hostId" ng-options="h.dockerDaemonId as h.name for h in hosts"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputContainerName" class="col-sm-3 control-label">Container Name</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="spec.name" required="true" ng-minlength="1"
                       class="form-control" id="inputContainerName" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPort" class="col-sm-3 control-label">Port</label>
            <div class="col-sm-9">
                <input type="number"
                       ng-model="spec.port" required="true" pattern="[0-9]+"
                       class="form-control" id="inputPort" placeholder="25565">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Type</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" ng-model="spec.type" id="typeVanilla" value="VANILLA"> Vanilla
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="spec.type" id="typeForge" value="FORGE"> Forge
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Version</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" ng-model="versionMode" value="LATEST"> Latest Stable
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="versionMode" value="SNAPSHOT"> Snapshot
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="versionMode" value="SPECIFIC"> Specifically...
                </label>
                <select ng-show="versionMode == 'SPECIFIC'" class="form-control" ng-model="spec.version" ng-options="v for v in versions">
                    <option value="">Choose a version</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputOps" class="col-sm-3 control-label">Ops</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="spec.ops"
                       class="form-control" id="inputOps" placeholder="Optional, comma separated user names">
            </div>
        </div>

        <div class="form-group">
            <label for="inputMotd" class="col-sm-3 control-label">MOTD</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="spec.motd"
                       class="form-control" id="inputMotd" placeholder="Optional">
                <span id="inputMotdHelp" class="help-block">Shown below the server name in Play Multiplayer.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputServerIcon" class="col-sm-3 control-label">Server Icon</label>
            <div class="col-sm-9">
                <input type="url"
                       ng-model="spec.serverIcon"
                       class="form-control" id="inputServerIcon" placeholder="Optional">
                <span id="inputServerIconHelp" class="help-block">URL of an image that will be grabbed and resized.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputLevelSeed" class="col-sm-3 control-label">Level Seed</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="spec.levelSeed"
                       class="form-control" id="inputLevelSeed" placeholder="Optional">
            </div>
        </div>


    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Nope, changed my mind</button>
    <button type="button" class="btn btn-primary" ng-click="goCreateServer()" ng-disabled="createServer.$invalid">Create Server</button>
</div>