<div id="servers" class="main">
    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default" ng-controller="HostsController">
                <div class="panel-heading">Docker Hosts</div>
                <div class="panel-body">
                    <div ng-repeat="host in hosts">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="host.selected" ng-change="handleHostSelectionChange()">
                                {{host.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default" ng-controller="ServersController">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">Servers</div>

                        <div class="col-md-4 align-right">
                            <button type="button" class="btn btn-info btn-sm" ng-click="refresh()">
                                <span class="glyphicon glyphicon-refresh"/>
                            </button>
                            <button type="button" class="btn btn-info btn-sm"
                                    ng-class="{active:managing}" ng-click="managing = !managing">
                                <span class="glyphicon glyphicon-pencil"/>
                                Manage
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row management" ng-show="managing">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" ng-click="createServer()">
                                <span class="glyphicon glyphicon-plus"/>
                                Create a Server
                            </button>
                        </div>
                    </div>

                    <div class="row" ng-repeat="server in servers">
                        <ng-include src="'bits/server-entry.html'"/>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>